@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppiins", sans-serif;
}

body {
    background-color : #b6dbf5;
}

.chatbot {
    position: fixed;  
    right: 375px;
    bottom: 100px;
    width: 500px;
    overflow: hidden;
    background: white;
    border-radius: 15px;
    
}

.chatbot header {
    background: #724ae8;
    padding:  2px 0;
    text-align: center;
}

.chatbot header h1 {
    color: #fff;   
    font-size: 1.4rem;
 }

 .chatbot .chatbox {
    height: 350px;
    overflow-y: auto;
    padding: 15px 20px 70px;
 }

 .chatbox .chat p {
    color: #fff;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #724ae8;
 }

 .chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
 }

 .chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
 }