<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <link rel="stylesheet" href="/style.css">
     
</head>
 
<body> 
    <form class="form-register" action="/validar" method="post">

         

        <h4>registro</h4>


        <input class="controls" type="numeber" name="ced" id="ced" placeholder="ingrese su cedula"><br><br> 
        <input class="controls" type="text" name="nom" id="nom" placeholder="ingrese su nombre"><br><br>
        <input class="controls" type="text" name="apell" id="apell" placeholder="ingrese su apellido"><br><br>
        <input class="controls" type="text" name="usuar" id="usuar" placeholder="ingrese su usuario"><br><br>
        <input class="controls" type="password" name="pass" id="pass" placeholder="ingrese su contraseña"><br><br>

        <input class="botons" type="submit" value="registrar"  >

        <p> ¿ya tengo cuenta? <a class="link" href="/index.html">iniciar sesion</a></p>


        </section>
    </form>

 
</body>

</html>